
body,
h1,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  font-size: 24px;
  color: #333;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
 
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;
 
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the character name */
li h3 {
  font-size: 18px;
  padding: 10px;
  background-color: #f0f0f0;
  text-align: center;
 
}

/* Style for the character image */
li img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}


/* Adds hover effect to the character list items */
li:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}